* {
    margin:0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}
.header > h1 {
    color:red;
    font-size: 2rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding:18px;
}
@media (max-width:990px) {
    .container{
        flex-direction: column;
    }    
}
.left-side {
    flex: 0.7;
}  
.right-side {
    flex: 0.2;
    display: flex;
    flex-direction: column;
}
.right-side .MuiCardContent-root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.graph {
    flex-grow: 1;
}
.stats {
    display:flex;
    text-align: center;
    justify-content: space-between;
}
